[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
seaborn = "*"
jupyter = "*"
mlxtend = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
plotly = "*"
matplotlib = "*"
scikit-learn = "*"
keras = "*"
lime = "*"
mglearn = "*"
eli5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
